:root {
  --bg-color: white;
  --text-color: black;
  --border-color: #c4bdbd;
  --input-bg: #f2f2f2;
  --menu-link-color: black;
  --btn-bg: white;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
  --border-color: #666;
  --input-bg: #333;
  --menu-link-color: white;
  --btn-bg: black;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.box-center {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
a {
  color: #cb4395;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  margin: 0;
}
h2 {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  font-weight: 500;
  padding-bottom: 15px;
}
p {
  margin: 0;
  padding-bottom: 20px;
}
/*
========================
  Header
========================
*/
header.header .flax-box a.brand {
  text-decoration: none;
  color: #fff;
}
header.header {
  padding: 18px 0;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: var(--bg-color);
  transition: background 0.3s ease, border 0.3s ease;
}
header.header .flax-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.header .flax-box .menu-btn {
  display: flex;
  gap: 20px;
}
header.header .flax-box .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}
header.header .flax-box .menu ul li a {
  color: var(--menu-link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}
header.header .search-box .input-group {
  position: relative;
}
header.header .search-box .input-group input {
  height: 44px;
  min-width: 230px;
  padding: 0 16px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: var(--input-bg);
  color: var(--text-color);
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}
header.header .search-box .input-group button {
  height: 44px;
  background: transparent;
  border: 0;
  position: absolute;
  right: 0;
  cursor: pointer;
}
header.header .brand h2 {
  margin: 0;
}
header.header .brand h2 span {
  background: linear-gradient(90deg, #666be0 0%, #cb4395 100%);
  padding: 6px 8px;
  color: #fff;
  border-radius: 10px;
}
header.header .flax-box .menu-btn .sm-btn {
  display: flex;
  align-items: center;
}
header.header .flax-box .menu-btn .sm-btn a {
  position: relative;
  color: var(--menu-link-color);
  text-decoration: none;
  border-radius: 10px;
  padding: 13px 20px;
  display: inline-block;
  background: var(--btn-bg);
  transition: color 0.3s ease, background 0.3s ease;
}

/* Gradient border */
header.header .flax-box .menu-btn .sm-btn a::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* Border thickness */
  border-radius: 10px;
  background: linear-gradient(90deg, #666be0 0%, #cb4395 100%);
  mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
  -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: opacity 0.3s ease;
}

/* Hover Effect - Remove Border */
header.header .flax-box .menu-btn .sm-btn a:hover {
  color: white;
  background: linear-gradient(90deg, #666be0 0%, #cb4395 100%);
}

header.header .flax-box .menu-btn .sm-btn a:hover::before {
  opacity: 0; /* Hide border */
}

header.header .flax-box .menu-btn button.mode {
  padding: 0 20px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: transparent;
  color: var(--text-color);
  transition: border 0.3s ease, color 0.3s ease;
  cursor: pointer;
  height: 44px;
}

header.header .search-box .input-group button svg {
  width: 20px;
  height: 20px;
  color: var(--text-color);
}
.menu-btn button.cl-userButtonTrigger {
  width: 44px;
  height: 44px;
}
.menu-btn button.cl-userButtonTrigger:focus {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px !important;
}
.menu-btn button.cl-userButtonTrigger span.cl-avatarBox {
  width: 40px;
  height: 40px;
}
/*
========================
  create-post
========================
*/
.create-post .title-cat select,
.create-post .title-cat input {
  height: 44px;
  padding: 0 16px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: var(--input-bg);
  color: var(--text-color);
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.create-post .title-cat {
  display: flex;
  gap: 20px;
}

.create-post .title-cat input {
  width: 80%;
}

.create-post .title-cat select {
  width: 20%;
}

.create-post .upload {
  border: 2px dashed #487ef5;
  padding: 14px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: var(--input-bg);
  color: var(--text-color);
}

.create-post .ql-container.ql-snow {
  height: 250px;
  border: 1px solid var(--border-color);
  background: var(--input-bg);
  color: var(--text-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.create-post button[type="submit"],
.create-post .upload button {
  position: relative;
  color: var(--menu-link-color);
  text-decoration: none;
  border-radius: 10px;
  padding: 13px 20px;
  display: inline-block;
  background: var(--btn-bg);
  transition: color 0.3s ease, background 0.3s ease;
  border: 0;
  cursor: pointer;
}
.create-post button[type="submit"]:before,
.create-post .upload button:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 10px;
  background: linear-gradient(90deg, #666be0, #cb4395);
  mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
  -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: opacity 0.3s ease;
}

.create-post button[type="submit"]:hover,
.create-post .upload button:hover {
  color: white;
  background: linear-gradient(90deg, #666be0, #cb4395);
}

.create-post .quill {
  margin-bottom: 15px;
}

.create-post .ql-toolbar.ql-snow {
  border: 1px solid var(--border-color);
  background: var(--input-bg);
  color: var(--text-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.create-post h1 {
  text-align: center;
  margin-bottom: 25px;
}

.create-post {
  padding-top: 60px;
  padding-bottom: 60px;
}
.create-post .show-image {
  margin-bottom: 15px;
}

.create-post .show-image img {
  border-radius: 10px;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.not-authorized {
  padding-top: 60px;
}

/*
========================
  single-post
========================
*/
.single-post h1 {
  text-align: center;
}

.single-post a.cat-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 40px;
}

.single-post a.cat-btn button {
  height: 44px;
  padding: 0 30px;
  border: 1px solid var(--border-color);
  border-radius: 100px;
  background: var(--input-bg);
  color: var(--text-color);
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  /* text-decoration: none; */
  font-size: 16px;
  letter-spacing: 0.4px;
}

.single-post {
  padding-top: 60px;
  padding-bottom: 60px;
}

.single-post .post-info {
  max-width: 860px;
  margin: 0 auto;
}
.single-post .post-info .post-meta {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 30px;
}
.post-content {
  padding-right: 10px;
  padding-left: 10px;
}

/*
========================
  call-to-action
========================
*/
.call-to-action .flex-box {
  display: flex;
  align-items: center;
  gap: 50px;
}
.call-to-action .flex-box .text {
  width: 50%;
}
.call-to-action .flex-box .image {
  width: 50%;
}
.call-to-action .flex-box button.sm-btn a {
  height: 44px;
  padding: 0 16px;
  transition: all 0.3s ease, color 0.3s ease, border 0.3s ease;
  background: linear-gradient(90deg, #666be0 0%, #cb4395 100%);
  color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.call-to-action .flex-box button.sm-btn a:hover {
  /* zoom in */
  transform: scale(1.1);
}
.call-to-action .flex-box button.sm-btn {
  border: 0;
  background: transparent !important;
  outline: 0;
  display: block;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  padding: 0;
  margin: 0;
}

.call-to-action {
  border: 2px solid var(--border-color);
  border-radius: 30px;
  padding: 60px 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}

/*
========================
  recent-posts
========================
*/
.recent-posts .card-container {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.recent-posts .card-container .card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: var(--input-bg);
  color: var(--text-color);
  padding: 20px 20px;
}

.recent-posts .card-container .card img.img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  display: flex;
  border-radius: 5px;
}

.recent-posts .card-container .card .card-info p.r-title {
  padding-bottom: 15px;
}

.recent-posts .card-container .card .card-info span.r-cat {
  font-size: 12px;
  background: var(--input-bg);
  padding: 0px 0;
  display: inline-flex;
  text-decoration: underline;
}

.recent-posts h1.title {
  margin-bottom: 30px;
}
.recent-posts .card-container .card .card-info .btn a {
  height: 40px;
  min-width: 230px;
  padding: 0 16px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: var(--input-bg);
  color: var(--text-color);
  position: relative;
  transition: all 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
}
.recent-posts .card-container .card .card-info .btn a:hover {
  transform: scale(1.04);
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

/*
========================
  hero-home
========================
*/
.hero-home {
  padding-top: 150px;
  padding-bottom: 100px;
}
.hero-home h1.title {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 23px;
}
a.view-all-home,
a.view-all-btn {
  background: linear-gradient(90deg, #666be0 0%, #cb4395 100%);
  padding: 6px 8px;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  height: 44px;
  padding: 0 40px;
  color: var(--text-color);
  transition: all 0.3s ease, color 0.3s ease, border 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
a.view-all-home:hover,
a.view-all-btn:hover {
  transform: scale(1.1);
}

.view-all-aa {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 60px;
}

/*
========================
  search
========================
*/
.search-container {
  display: flex;
  gap: 30px;
}
.search-container .search-sidebar {
  width: 30%;
  border-right: 1px solid var(--border-color);
}
.search-container .search-results {
  width: 80%;
}
.search-container .search-results .search-results-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.search-container .search-results .search-results-container .card img.img {
  height: 150px;
  object-fit: cover;
  width: 100%;
}
.search-container .search-sidebar input#searchTerm {
  height: 40px;
  max-width: 100%;
  padding: 0 12px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: var(--input-bg);
  color: var(--text-color);
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  display: flex;
}
.search-container .search-sidebar .search-term {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.search-container .search-sidebar form.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search-container .search-sidebar .search-term label.title {
  width: 100%;
  display: block;
}
.search-container .search-sidebar .short-by {
  display: flex;
  flex-direction: column;
}
.search-container .search-sidebar select#sort {
  height: 40px;
  max-width: 100%;
  padding: 0 12px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: var(--input-bg);
  color: var(--text-color);
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  display: flex;
}
.search-container .search-sidebar .short-by {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.search-container .search-sidebar .category {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.search-container .search-sidebar label.title {
  width: 100%;
  display: block;
}
.search-container .search-sidebar select#category {
  height: 40px;
  max-width: 100%;
  padding: 0 12px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: var(--input-bg);
  color: var(--text-color);
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  display: flex;
}
.search-container .search-sidebar button.apply-filters {
  height: 40px;
  max-width: 100%;
  padding: 0 12px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: var(--input-bg);
  color: var(--text-color);
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.search-container .search-sidebar .filters {
  padding-right: 30px;
}
.search-container .search-results .search-results-container .card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: var(--input-bg);
  color: var(--text-color);
  padding: 15px;
}
.search-container .search-results .search-results-container img.img {
  display: flex;
  border-radius: 5px;
}
.search-container .search-results .search-results-container span.r-cat {
  font-size: 12px;
  background: var(--input-bg);
  padding: 0px 0;
  display: inline-flex;
  text-decoration: underline;
}
.search-container .search-results .search-results-container p.r-title {
  padding-bottom: 15px;
}
.search-container .search-results .search-results-container .btn a.link {
  height: 40px;
  padding: 0 16px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: var(--input-bg);
  color: var(--text-color);
  position: relative;
  transition: all 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
}
.search-container .search-results .search-results-container .btn a.link:hover {
  transform: scale(1.04);
  border: 1px solid var(--text-color);
  color: var(--text-color);
}
.search-container .search-results .search-results-container .card {
  display: flex;
  flex-direction: column;
  min-width: 212px;
}
.search-container .search-results .search-results-container p.r-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.search-container .search-results h1.title {
  margin-bottom: 25px;
}
.search-container .search-sidebar .filters {
  height: 90vh;
  padding-top: 30px;
}
.search-container .search-results {
  padding-top: 30px;
}

/* 
========================
  footer
========================
 */

footer.footer .brand h2 {
  margin: 0;
}
footer.footer .brand h2 span {
  background: linear-gradient(90deg, #666be0 0%, #cb4395 100%);
  padding: 6px 8px;
  color: #fff;
  border-radius: 10px;
}
footer.footer a.brand {
  text-decoration: none;
  color: #fff;
}
footer.footer a.brand {
  text-decoration: none;
  color: #fff;
}

footer.footer .call-1 {
  width: 30%;
}

footer.footer .call-2 {
  width: 70%;
  display: flex;
  gap: 80px;
  justify-content: end;
}

footer.footer .main-footer .flax-box {
  display: flex;
  gap: 30px;
}

footer.footer .call-2 .f-coll {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

footer.footer .call-2 .f-coll a {
  text-decoration: none;
  color: #ababab;
}

footer.footer .call-2 .f-coll a:hover {
  color: #cb4395;
}

footer.footer .call-2 h3.title {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
}

footer.footer .main-footer {
  padding: 70px 0 20px 0;
  border-top: 1px solid var(--border-color);
  box-shadow: 0 -10px 15px 0px rgba(0, 0, 0, 0.1);
  background: var(--bg-color);
  transition: background 0.3s ease, border 0.3s ease;
}
footer.footer a.brand {
  text-decoration: none;
  color: #fff;
}

footer.footer .call-1 {
  width: 30%;
}

footer.footer .call-2 {
  width: 70%;
  display: flex;
  gap: 80px;
  justify-content: end;
}

footer.footer .main-footer .flax-box {
  display: flex;
  gap: 30px;
}

footer.footer .call-2 .f-coll {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

footer.footer .call-2 .f-coll a {
  text-decoration: none;
  color: #ababab;
}

footer.footer .call-2 .f-coll a:hover {
  color: #cb4395;
}

footer.footer .call-2 h3.title {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
}

footer.footer .main-footer {
  padding: 70px 0 70px 0;
  border-top: 1px solid var(--border-color);
  box-shadow: 0 -10px 15px 0px rgba(0, 0, 0, 0.1);
  background: var(--bg-color);
  transition: background 0.3s ease, border 0.3s ease;
}

.copyright {
  padding: 15px 0 15px 0;
  border-top: 1px solid var(--border-color);
  /* box-shadow: 0 -10px 15px 0px rgba(0, 0, 0, 0.1); */
  background: var(--bg-color);
  transition: background 0.3s ease, border 0.3s ease;
}

.copyright .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright .box .social-footer {
  display: flex;
  gap: 16px;
  /* display: flex; */
}

.copyright .box .social-footer a {
  color: #ababab;
  font-size: 20px;
  display: flex;
}

.copyright .box .social-footer a:hover {
  color: #cb4395;
}

.copyright .box .copyright-text {
  color: #ababab;
  font-size: 14px;
}
/* 
========================
  projects
========================
*/
.projects .dox {
  text-align: center;
  padding-top: 60px;
}
.projects .dox h1 {
  margin-bottom: 15px;
}
.projects .call-to-action {
  margin-top: 20px;
}
/*
========================
  about
========================
*/
.about-page {
  padding-top: 89px;
  padding-bottom: 90px;
}

.about-page h1.title {
  margin-bottom: 30px;
}
